{% extends "GemaAdminBundle:Ejemplo:base.html.twig" %}

{% block title %}GemaAdminBundle:Ejemplo\Componentes:elementos{% endblock %}

{% block body %}

<div class="main">

    <div class="container">

      <div class="row">
      	
      	<div class="span12">      		
      		
      		<div class="widget stacked ">
      			
      			<div class="widget-header">
      				<i class="icon-pencil"></i>
      				<h3>Bootstrap Elements</h3>
  				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					
				<br />
					
					<section id="buttons">
					<h3>Buttons</h3>
					
					<a href="javascript:;" class="btn btn-large btn-primary">Primary Button</a>&nbsp;&nbsp;&nbsp;
					<a href="javascript:;" class="btn btn-large btn-secondary">Secondary Button</a>&nbsp;&nbsp;&nbsp;
					<a href="javascript:;" class="btn btn-large btn-tertiary">Tertiary Button</a>&nbsp;&nbsp;&nbsp;
					<a href="javascript:;" class="btn btn-large">Default Button</a>
						      
						</section>
				
				<br />
				<br />
				<br />
				<br />
					
					
					
					<section id="accordions">
					    <h3>Accordion</h3>
				          
						
						<div class="accordion" id="basic-accordion">
				            <div class="accordion-group">
				              <div class="accordion-heading">
				                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseOne">
				                  Collapsible Group Item #1
				                </a>
				              </div>
				              <div id="collapseOne" class="accordion-body in collapse">
				                <div class="accordion-inner">
				                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt.</p>
				                  
				                  <p>Vivamus ac velit eget turpis pharetra placerat bibendum at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
				                </div>
				              </div>
				            </div>
				            <div class="accordion-group">
				              <div class="accordion-heading">
				                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseTwo">
				                  Collapsible Group Item #2
				                </a>
				              </div>
				              <div id="collapseTwo" class="accordion-body collapse">
				                <div class="accordion-inner">
				                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqu.</p>
				                  
				                  <p>Vivamus ac velit eget turpis pharetra placerat bibendum at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
				                </div>
				              </div>
				            </div>
				            <div class="accordion-group">
				              <div class="accordion-heading">
				                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseThree">
				                  Collapsible Group Item #3
				                </a>
				              </div>
				              <div id="collapseThree" class="accordion-body collapse">
				                <div class="accordion-inner">
				                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.</p>
				                  
				                  <p>Vivamus ac velit eget turpis pharetra placerat bibendum at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
				                  
				                </div>
				              </div>
				            </div>
				          </div>
							      
							</section>
							
							
							
							
							
							<br />
				<br />
				<br />
				
				
				
				
				
				<section id="progress-bars">
					<h3>Progress Bars</h3>
					
					<br />
					
					<h5>Primary Progress</h5>
					
					<div class="progress progress-primary">
						<div class="bar" style="width: 12%"></div> <!-- /.bar -->				
					</div> <!-- /.progress -->
					
					<div class="progress progress-primary progress-striped active">
						<div class="bar" style="width: 25%"></div> <!-- /.bar -->				
					</div> <!-- /.progress -->
					
					<br />
					
					<h5>Secondary Progress</h5>
					
					<div class="progress progress-secondary">
						<div class="bar" style="width: 37%"></div> <!-- /.bar -->				
					</div> <!-- /.progress -->
					
					<div class="progress progress-secondary progress-striped active">
						<div class="bar" style="width: 50%"></div> <!-- /.bar -->				
					</div> <!-- /.progress -->
					
					<br />
					
					<h5>Tertiary Progress</h5>
					
					<div class="progress progress-tertiary">
						<div class="bar" style="width: 63%"></div> <!-- /.bar -->				
					</div> <!-- /.progress -->
					
					<div class="progress progress-tertiary progress-striped active">
						<div class="bar" style="width: 75%"></div> <!-- /.bar -->				
					</div> <!-- /.progress -->
					
				</section>
							
							
				
					
							
							<br />
							<br />
							<br />
							
							<section id="modals">
					<h3>Modal</h3>
					
					<a class="btn" data-toggle="modal" href="#myModal">Launch Modal</a>
						      
						</section>
						
						
						
						<br />
			    <br />
			    <br />
			    <br />
			    
				
				
				
			    
				<section id="dropdowns">
				    <h3>Dropdowns</h3>
				    
				    
				    
				    <div class="dropdown clearfix">
	              <ul class="dropdown-menu" style="display: block; position: static; margin-bottom: 5px; width: 180px;">
	                <li><a tabindex="-1" href="javascript:;"><i class="icon-star"></i> Action</a></li>
	                <li><a tabindex="-1" href="javascript:;"><i class="icon-asterisk"></i> Another action</a></li>
	                <li><a tabindex="-1" href="javascript:;"><i class="icon-bookmark"></i> Something else here</a></li>
	                <li class="divider"></li>
	                <li class="dropdown-submenu">
	                  <a tabindex="-1" href="javascript:;">More options</a>
	                  <ul class="dropdown-menu">
	                    <li><a tabindex="-1" href="javascript:;">Second level link</a></li>
	                    <li><a tabindex="-1" href="javascript:;">Second level link</a></li>
	                    <li><a tabindex="-1" href="javascript:;">Second level link</a></li>
	                    <li><a tabindex="-1" href="javascript:;">Second level link</a></li>
	                    <li><a tabindex="-1" href="javascript:;">Second level link</a></li>
	                  </ul>
	                </li>
	              </ul>
	            </div>
						      
						</section>
						
						
						
						
						
						<br />
				<br />
				<br />
				<br />



				<section id="paginations">
					<h3>Pagination</h3>
					
					<div class="pagination">
					  <ul>
					    <li><a href="javascript:;">Prev</a></li>
					    <li class="active">
					      <a href="javascript:;">1</a>
					    </li>
					    <li><a href="javascript:;">2</a></li>
					    <li><a href="javascript:;">3</a></li>
					    <li><a href="javascript:;">4</a></li>
					    <li><a href="javascript:;">Next</a></li>
					  </ul>
					</div>
						      
						</section>

				<br />
				<br />
				<br />
				
				
				
				
				
				
				
				<section id="tables">
					<h3>Tables</h3>
					
					
					
					<table class="table table-bordered table-striped table-highlight">
						        <thead>
						          <tr>
						            <th>#</th>
						            <th>First Name</th>
						            <th>Last Name</th>
						            <th>Username</th>
						          </tr>
						        </thead>
						        <tbody>
						          <tr>
						            <td>1</td>
						            <td>Michael</td>
						            <td>Jordan</td>
						            <td>@mjordan</td>
						          </tr>
						          <tr>
						            <td>2</td>
						            <td>Magic</td>
						            <td>Johnson</td>
						            <td>@mjohnson</td>
						          </tr>
						          <tr>
						            <td>3</td>
						            <td>Larry</td>
						            <td>the Bird</td>
						            <td>@twitter</td>
						          </tr>
						          <tr>
						            <td>4</td>
						            <td>Charles</td>
						            <td>Barkley</td>
						            <td>@cbark</td>
						          </tr>
						          <tr>
						            <td>5</td>
						            <td>Karl</td>
						            <td>Malone</td>
						            <td>@kmalone</td>
						          </tr>
						        </tbody>
						      </table>
						      
						      
						      <br />
						      
						      
					<table class="table table-bordered table-striped">
						        <thead>
						          <tr>
						            <th>#</th>
						            <th>First Name</th>
						            <th>Last Name</th>
						            <th>Username</th>
						          </tr>
						        </thead>
						        <tbody>
						          <tr>
						            <td>1</td>
						            <td>Michael</td>
						            <td>Jordan</td>
						            <td>@mjordan</td>
						          </tr>
						          <tr>
						            <td>2</td>
						            <td>Magic</td>
						            <td>Johnson</td>
						            <td>@mjohnson</td>
						          </tr>
						          <tr>
						            <td>3</td>
						            <td>Larry</td>
						            <td>the Bird</td>
						            <td>@twitter</td>
						          </tr>
						          <tr>
						            <td>4</td>
						            <td>Charles</td>
						            <td>Barkley</td>
						            <td>@cbark</td>
						          </tr>
						          <tr>
						            <td>5</td>
						            <td>Karl</td>
						            <td>Malone</td>
						            <td>@kmalone</td>
						          </tr>
						        </tbody>
						      </table>
						      
						      
						      
						<br />
						
						
						      
						</section>
					      
						
					
					
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->
      		
	    </div> <!-- /span12 -->
      	
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->
     

<div class="modal fade hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:;" class="btn" data-dismiss="modal">Close</a>
    <a href="javascript:;" class="btn btn-primary">Save changes</a>
  </div>
</div>



{% endblock %}
